<div class="flex flex-col justify-center items-center">
    <button class="btnsm replyButton self-start" data-id="{{id}}">Add Comment</button>

    <div class="replyContainer flex flex-col justify-center items-center w-11/12 hidden mt-2" data-id="{{id}}">

        <div class="flex flex-col w-full bg-slate-400 rounded-lg">
            <textarea class="postInput replyInput w-full h-24 text-white placeholder-white" data-id="{{id}}" placeholder="Write your comment here."></textarea>
        </div>
        <div class="mt-2">
            <button class="btn sendReplyButton" data-id="{{id}}">Send</button>
            <button class="btn hideReplyButton" data-id="{{id}}">Cancel</button>
        </div>

    </div>
</div>